.footer {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #35858b;
}

.contact {
  h1 {
    color: #e8a900;
    font-weight: bold;
  }
}

@media screen and (max-width: 550px) {
  .contact {
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1rem;
    }
  }
}
